@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  padding: 0;
}


@keyframes spin {
  from{
    transform: rotate(0deg)
  }
  to{
    transform :rotate(360deg)
  }
}

.spin{
  animation: spin 25s linear infinite;
}


@keyframes spinOne{
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(90px);
  }
  100%{
    transform: translateX(0);
  }
}

.spinOne{
  animation:  spinOne 7s linear infinite;
}



.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 7px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 7px));
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
    background: #0a0a0a !important  ;
    padding:7px !important;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.7);
}

.swiper-pagination {
display: none;
}

